<!DOCTYPE html>
<html lang="en">
<head>
  <!--Titol de la pestanya-->
  <title>Informació station</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
      <br>
      <!--Titol principal-->
      <span *ngIf="Station" class="login100-form-title">
						Nombre de la estacion: {{Station.name}}
					</span>
      <br>
      <!--Si la variable llista es diferent a Null, mostrem els titols de les columnes-->
      <pre *ngIf="Station.bikes" class="list_titles">Bike   Kms   Description</pre>
      <pre *ngIf="Station.bikes==null" class="list_titles">No hay bicis en esta estacion</pre>

      <ul *ngIf="Station.bikes" id="menu">
        <!--Per cada element de la llista fem:-->
        <li  class="list_items" *ngFor="let bike of bikes">
          <!--Mostrem el nom per cada element-->
          <pre>{{bike.name}}  {{bike.distance}} {{bike.description}} </pre>
          <button type="button" (click)="botoLlista(bike._id)" class="list_btn1 pull-right" id="btnEliminar">Eliminar</button>
        </li>
      </ul>

      <span *ngIf="Station" class="login100-form-title">
						Bicis sin asignar:
					</span>
      <p *ngIf="llistaUnBikes" class="list_titles">Bike kms Description</p>
      <ul *ngIf="llistaUnBikes" id="menuBikes">
        <!--Per cada element de la llista fem:-->
        <li  class="list_bikes" *ngFor="let element of llistaUnBikes">
          <!--Mostrem tres camps de cada element-->
          <p>{{element.name}} {{element.distance}} {{element.description}}</p>
          <!--A més afagim dos botons per realitzar accions relacionat amb els elements de la llista-->
          <button *ngIf="llistaUnBikes" type="button" (click)="botoLlistaUnBikes(element._id)" class="list_btn1 pull-right" id="btnAdd"> Añadir a estacion</button>
        </li>
      </ul>


      <!--Botons-->
      <p></p>
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button  routerLink="/" class="login100-form-btn" type="submit">
            Volver atrás
          </button>
        </div>
      </div>
    </div>
  </div>




  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
</div>
</body>
</html>


